    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
    @import url("https://fonts.googleapis.com/css?family=Mukta:700");

    @font-face {
        font-family: 'Gotham Pro';
        src: url('../fonts/Gotham/GothamPro-Medium.eot');
        src: local('/fonts/Gotham/Gotham Pro Medium'), local('/fonts/Gotham/GothamPro-Medium'), url('../fonts/Gotham/GothamPro-Mediumd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham/GothamPro-Medium.woff') format('woff'), url('../fonts/Gotham/GothamPro-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    a {
        color: #dbdbdb;
        text-decoration: none;
        color: inherit;
        outline: 0;
        cursor: pointer;
    }

    a:-webkit-any-link {
        cursor: pointer;
        text-decoration: none;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        text-decoration: none;

        background-color: #000000;
    }

    body {
        font-family: 'Gotham Pro', 'Product Sans', 'Proxima Nova Lt', 'Noto Sans', sans-serif;
        text-align: center;
        cursor: default;
        margin: 0;
        padding: 0;
        position: fixed;
        -webkit-user-select: none;

        background-image: url(../img/forest.jpg);
        background-repeat: no-repeat;
        margin: 0px;
        height: 100%;
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0.199);
        -moz-box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0.199);
        box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0.199);
    }

    @media screen and (max-width: 745px) {
        body {
            -webkit-box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0);
            -moz-box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0);
            box-shadow: inset 0px 0px 500px 10px rgba(0, 0, 0, 0);
        }
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }

    .on {
        height: 100%;
        width: 100%;
        background-image: url(../img/ussr.html);
        background-color: #310000;
        background-size: 100% 100%;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }

    canvas {
        display: block;
        vertical-align: bottom;
    }

    /*------------------------LOAD ANIMATION----------------------*/

    .page-content {
        display: none;
    }

    .load {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: 480px 480px;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;

        animation-fill-mode: forwards;
    }

    .load-gif {
        background-repeat: no-repeat;
        height: 280px;
        width: 280px;
        background-size: 280px 280px;
        background-image: url(../img/site-img/load.html);
    }

    h4 {
        font-size: 2.5em;
        color: #ffffff;
        margin: 1.5px;
        font-family: 'Gotham Pro';
        animation: opacity 0.35s ease;
        animation-fill-mode: forwards;
    }

    @keyframes opacity-c {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @media screen and (max-width: 640px) {
        h4 {
            display: none;
        }
    }


    /*-----------------------------------------

                    DISCORD-BACKGROUND-ANIMATION  

    -------------------------------------------*/

    .anim-back {
        background: linear-gradient(-45deg, #5865f2, #5865f2, #36393f, #36393f);
        background-size: 600% 600%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        -webkit-animation: Gradient 3s;
        animation: Gradient 3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 0%
        }

        10% {
            background-position: 0% 0%
        }

        15% {
            background-position: 0% 0%
        }

        100% {
            background-position: 100% 100%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 0%
        }

        10% {
            background-position: 0% 0%
        }

        15% {
            background-position: 0% 0%
        }

        100% {
            background-position: 100% 100%
        }
    }

    /*-----------------------------------------*/

    @keyframes slide {
        0% {
            transform: translate(0, 2.5em);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slide-up {
        0% {
            transform: translate(0, 0);
            opacity: 1;
        }

        100% {
            transform: translate(0, -3em);
            opacity: 0;
        }
    }

    @keyframes slide-up-a {
        0% {
            transform: translate(0, 3em);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes slide-up-b {
        0% {
            transform: translate(0, 0em);
        }

        100% {
            transform: translate(0, -10em);
        }
    }

    @keyframes opacity {

        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes opacity-b {

        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes pulse {
        from {
            transform: scale(.85);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* -------------------------- stats.js ----------------------------- */

    .count-particles {
        background: #000022;
        position: absolute;
        top: 48px;
        left: 0;
        width: 80px;
        color: #13E8E9;
        font-size: .8em;
        text-align: left;
        text-indent: 4px;
        line-height: 14px;
        padding-bottom: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
    }

    .js-count-particles {
        font-size: 1.1em;
    }

    #stats,
    .count-particles {
        -webkit-user-select: none;
        margin-top: 5px;
        margin-left: 5px;
    }

    #stats {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }

    .count-particles {
        border-radius: 0 0 3px 3px;
    }

    /* -------------------- particles.js container ------------------- */

    #particles-js {
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 3000px) {
        .particles {
            display: none;
        }
    }

    /* -------------------------- Animation  -------------------------------*/

    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes opacity-header {
        0% {
            opacity: 0;
        }

        100% {
            opacity: .4;
        }
    }

    @keyframes slide {
        0% {
            transform: translate(0, 3em);
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    /*------------------------ Header ------------------------------------*/

    .header-colored {
        position: absolute;
        background-color: #000000af;
        height: 70px;
        width: 90%;
        border-radius: 7px;
        border: 0.5px solid #000000;
        opacity: .4;

        left: 5%;
        top: 2%;
        box-shadow: 0 10px 20px #00000088;
        animation: opacity-header 0.5s ease;
        animation-fill-mode: forwards;

    }

    .header-colored-red {
        position: absolute;
        background-color: #ff0000;
        height: 70px;
        width: 100%;
        opacity: .5;
    }

    .header-uncolored {
        position: absolute;
        height: 70px;
        width: 100%;

        top: 2%;
    }

    .header-container {
        max-width: 1100px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 20;
    }

    .avatar {
        display: block;
        height: 50px;
        width: 50px;
        float: left;
        border-radius: 50%;
        background-size: 50px;
        background-image: url(../img/logo/avatar.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 10px 0 0 0;
        margin-left: 10px;
        animation: opacity 0.5s ease;
        animation-fill-mode: forwards;
    }

    .text-header {
        font-size: 30px;
        float: left;
        color: #ffffff;
        margin: 17px;
        font-family: 'Gotham Pro';

        animation: opacity 0.5s ease;
        animation-fill-mode: forwards;
    }



    @media screen and (max-width: 1243px) {
        .header-uncolored {
            position: absolute;
            height: 70px;
            width: 90%;
            border-radius: 7px;
            left: 5%;
            top: 2%;
        }
    }

    /*------------------------ Menu -----------------------*/

    .headerNav>li {
        position: relative;
        display: inline-block;
        cursor: default;
    }

    .subMenu {
        display: none;
        position: absolute;
        float: right;
        height: auto;
        width: 115px;
        background-color: #00000083;
        line-height: 45px;
        animation: opacity 0.2s ease;
        animation-fill-mode: forwards;
    }

    .subMenu>li {
        display: block;
    }

    .headerNav:hover .subMenu {
        display: block;
    }

    .headerNav {
        position: relative;
        cursor: pointer;
        float: right;
        height: auto;
        cursor: default;
        width: 115px;
        background-color: #0000004b;
        border-radius: 2px;
    }

    .subMenuLinks {
        position: relative;
        display: block;
        color: #ffffff;
        font-family: 'Gotham Pro';
        font-size: 0.8em;
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
    }

    .subMenuLinks:hover {
        background-color: #585fc4a8;
        color: #ffffff;
        border-radius: 2%;
        box-shadow: 0 0 10px #0000007e;
    }

    .iconNarrow {
        margin-left: 5px;
        position: relative;
        top: -2px;
    }

    .menu {
        font-size: 1em;
        color: #ffffff;
        font-family: 'Gotham Pro';
        line-height: 70px;

        animation: opacity 0.5s ease;
        animation-fill-mode: forwards;
    }

    @media screen and (max-width: 1243px) {
        .headerNav {
            border-radius: 7px;
            box-shadow: 0 0 10px #00000044;
        }

        .subMenu,
        .subMenuLinks:hover {
            border-radius: 7px;
        }
    }


    @media screen and (max-width: 521px) {
        .headerNav {
            display: none;
        }
    }


    /*------------------------ content --------------------------------- */

    .ussr {
        position: absolute;
        bottom: 0;
        margin-left: 60px;
        height: 100px;
        width: 100px;
    }

    .off-btn {
        display: none;
    }

    .play {
        color: #ffffff;
        font-size: 15px;
        background: transparent;
        cursor: pointer;
        border: 1px solid #ffffff;
        width: 150px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
        overflow: hidden;
    }


    .play::before {
        content: '';
        position: absolute;
        top: -130px;
        margin: auto;
        display: block;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        left: -75px;
        -webkit-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out;
        z-index: -1;

    }

    .play:hover {
        color: #fff;
    }

    .play:hover::before {
        box-shadow: inset 0 0 0 160px #b30000;
    }

    .container {
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        animation: slide 0.5s ease;
        animation-fill-mode: forwards;
    }

    .one {
        height: auto;
        width: 265px;
        max-width: 100%;
        display: inline-block;
        position: relative;
        text-align: center;
    }

    .title {
        line-height: 0.8em;
        margin: 10px 0;
        width: auto;
        height: auto;
        display: block;
    }

    .text {
        line-height: 1em;
        margin: 0px 0;
        width: auto;
        height: auto;
        display: block;
        font-size: 2.5em;
        font-family: 'Gotham Pro';
        color: #1d1e33;
        text-shadow: 0 0 8px #00000060;

        value: #8766b3;
    }

    .dud {
        color: #dbdbdb;
    }

    h2 {
        display: block;
        font-size: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: 'Noto Sans', sans-serif;
        color: #ebebeb;
        padding-bottom: 15px;
    }

    h3 {
        display: block;
        font-size: 0.9em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: 'Noto Sans', sans-serif;
        color: #e2e2e2;
        padding-top: 6px;
    }

    .link {
        display: block;
        font-size: 0.9em;
        font-weight: bold;
        font-family: 'Noto Sans', sans-serif;
        color: #ffffff;
        padding-top: 5px;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;

        -webkit-transform: scale(1, 1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1, 1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    .link:hover {
        color: #ffffff;
        text-shadow: 0 0 10px #ffffff;
        text-decoration: none;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;

        -webkit-transform: scale(1.3, 1.3);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1.5, 1.5);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    socialnetwork {
        margin: 0 auto;
        width: auto;
        position: relative;
        cursor: pointer;
        margin: 0;
    }


    .SocialNetwork {
        position: absolute;
        height: 105px;
        width: 265px;
        border-radius: 7px;
        margin-top: 10px;
        box-shadow: 0 -10px 20px #0000001c;
        background: linear-gradient(180deg, #00000059, #00000000);
    }


    .social {
        display: inline-block;
        padding: 5px;
        padding-top: 10px;
    }

    .social {
        -webkit-transform: scale(1, 1);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 250ms;
        -moz-transform: scale(1, 1);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 250ms;
    }

    .social:hover {
        -webkit-transform: scale(1.5, 1.5);
        -webkit-transition-timing-function: ease-out;
        -webkit-transition-duration: 300ms;
        -moz-transform: scale(1.5, 1.5);
        -moz-transition-timing-function: ease-out;
        -moz-transition-duration: 300ms;
    }

    /* -------------- Discord ----------------*/

    .discord-ds {
        display: none;
    }

    .discrod-ds-show {
        display: inline;
        position: absolute;
    }

    .back {
        display: none;
        position: absolute;
        left: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        background-size: 50px;
        background-image: url(../img/discord/back/back-button.png);
        background-repeat: no-repeat;

        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;

    }

    .back:hover {
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;

    }

    .first {
        background-color: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: scale(.85);
        animation: pulse 2s ease;
        -webkit-animation: pulse 2s ease;
        -moz-animation: pulse 2s ease;
        animation-fill-mode: forwards;
    }

    .text-ds {
        font-family: 'Gotham Pro';
        text-align: left;

        animation: slide 0.5s ease;
        -webkit-animation: slide 0.5s ease;
        -moz-animation: slide 0.5s ease;
        animation-fill-mode: forwards;
    }

    .discord-logo {
        height: 200px;
        width: 200px;

        animation: slide 0.5s ease;
        -webkit-animation: slide 0.5s ease;
        -moz-animation: slide 0.5s ease;
        animation-fill-mode: forwards;
    }

    @media screen and (max-width: 640px) {
        .discord-logo {
            display: none;
        }

        .text {
            text-align: center;
        }
    }

    .container-ds {
        display: none;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .content-ds {
        height: auto;
        width: 700px;
        max-width: 100%;
        display: none;
        position: relative;
        text-align: center;
        animation-fill-mode: forwards;
        animation: slide 0.5s ease;


    }

    .select {
        display: none;
        position: absolute;
        color: white;
    }

    .servers {
        display: none;
        position: absolute;
        height: auto;
        width: auto;
        border-radius: 7px;
    }

    .ICS,
    .ICSC {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .server {
            display: none;
        }

        .servers-list-ics {
            display: block;
        }

        .servers-list-ics-c {
            display: block;
            margin-top: 50px;
        }

        .ICS {
            margin: 20px;
            display: block;
            height: 180px;
            width: 180px;
            background-size: 180px;
            background-image: url(../img/discord/servers/ICS.png);
            background-repeat: no-repeat;
        }

        .ICSC {
            margin: 20px;
            display: block;
            height: 180px;
            width: 180px;
            background-size: 180px;
            background-image: url(../img/discord/servers/ICSC.png);
            background-repeat: no-repeat;
        }
    }

    @media screen and (min-width: 800px) {

        .servers-list-ics,
        .servers-list-ics-c {
            display: inline-block;
        }
    }

    .server {
        position: relative;
        margin: 1.5em;
        box-shadow: 0 10px 20px #00000088;
    }

    h4 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: 'Gotham Pro';
        color: #1d1e33;
        text-shadow: 0 0 10px #00000042;
    }

    h5 {
        display: block;
        font-size: 1.1em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-family: 'Noto Sans', sans-serif;
        color: #ffffff;
        padding-bottom: 15px;
        text-shadow: 0 0 15px #00000000;
    }

    h6 {
        font-size: 2.5em;
        color: #ffffff;
        margin: 1.5px;
        font-family: 'Gotham Pro';
    }

    h7 {
        font-size: 1.25em;
        color: #ffffff;
        margin: 1.5px;
    }

    .server-name {
        font-size: 1.8em;
        color: #ffffff;
        margin: 0px;
        font-family: 'Gotham Pro';
    }

    .button {
        display: block;
        font-family: 'Noto Sans', sans-serif;
        text-decoration: none;
        font-size: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        cursor: pointer;
        -webkit-user-select: none;
        padding: 0.5rem;
        margin-left: 50px;
        margin-right: 50px;

        background-color: #0000004b;
        border-radius: 7px;
        border: 0.5px solid;
        border-color: #00000033;

        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        color: #f8f8f8;
    }

    .button:hover {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        color: #ffffff;
        text-shadow: 0 0 12px #ffffff;
    }


    .button-a {
        display: block;
        font-family: 'Noto Sans', sans-serif;
        text-decoration: none;
        font-size: 1em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        cursor: pointer;
        -webkit-user-select: none;
        padding: 0.5rem;
        margin-left: 23px;
        margin-right: 23px;

        background-color: #0000004b;
        border-radius: 5px;
        border: 0.5px solid;
        border-color: #00000033;

        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        color: #f8f8f8;
    }

    .button:hover {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        color: #ffffff;
        text-shadow: 0 0 12px #ffffff;
    }
    
        .footer {
        position: fixed;
        width: 100%;
        bottom: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: opacity-header 0.5s ease;
        animation-fill-mode: forwards;
    }

    .footer-logo {
        position: relative;
        height: 50px;
        width: 50px;
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-image: url(../img/logo/color-logo-purple.png);
        opacity: 0.4;
    }

    /* -------------- end css ----------------*/